.topCss{
    max-height:75vh;
    width:100%;
    overflow-y:auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #302b2b;
    color:white;
  }
  /* ::-webkit-scrollbar {
    width: 0px; 
    } */