.bookScrollView{
    height:55vh;
    width:95%;
    min-width:50%;
    padding:1%;
    overflow-y:auto;
    border-radius:5px;
    background: rgba(214, 222, 235, 0.424);
}
.bookDetailedView{
    width:50%;
    max-width:50%;
    min-width:50%;
   
}
.widthDescription{
    max-width:80%;
    margin-left:12%
}
mat-simple-snackbar{
    width:100%;
}
.halfWidth{
    width:50%;
}
.bookScrollView tr:hover{
    background: rgba(205, 215, 226, 0.424);
}
.small_description span{
    font-size:12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    line-height: 1.7;
}
::-webkit-scrollbar {
    width: 0; 
    } 
    

