
<ul>
  <h3 align="center">Observable Method to get book Data</h3>
  <table>
    <tr>
      <td [ngClass]="getCss">
        <div [ngClass]="'bookScrollView'">
          <li *ngFor="let book of bookData">
            <table>
              <tr>
                <td [ngStyle]="{'width':'10%','padding':'1%'}">
                  <img [ngStyle]="{'cursor':'zoom-in'}" [src]='book.thumbnailUrl' [alt]="book.title" [height]='90' [width]='80' (click)="bookDetails(book.isbn)">
                </td>
                <td (click)="bookDetails(book.isbn)" [ngStyle]="{'max-width':'90%','width':'80%','padding':'2%'}">
                  <h4 [ngStyle]="{'cursor':'pointer'}" [title]='book.shortDescription' >{{book.title}}</h4>
                  <div class="small_description"><span *ngIf="book.shortDescription">{{book.shortDescription}}</span><span *ngIf="!book.shortDescription">N/A</span></div>
                  <h6> Catagory : <span [ngStyle]="{'color':'red'}" *ngFor="let category of book.categories">{{category}}, </span> </h6>
                  <h5 > Author(s) :<span [ngStyle]="{'color':'blue'}" *ngFor="let author of book.authors">{{author}} </span></h5>
                <td [ngStyle]="{'min-width':'10%'}">
                  <button mat-raised-button color="accent" (click)="bookDetails(book.isbn)"><mat-icon>open_in_new</mat-icon>Details</button>
                  <button mat-raised-button color="primary" (click)="buyBook(book.isbn)">Buy</button>
                </td>
                <hr>
              </tr>
            </table>
          </li>
        </div>
      </td>
      <td>
        <div [ngClass]="'bookScrollView'" *ngIf="curBookDetails.length && !hideIt">
          <button (click)="closeView()" title="Close Detailed view" [ngStyle]="{'float':'right','color':'red','font-weight':'500'}"mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
          Close
        </button>
            <h3 align="center"> Detailed Description</h3>
          <table *ngFor="let details of curBookDetails">
            <tr>
              <td colspan="2" align="center">
                <p><img [src]='details.thumbnailUrl' [height]='100' [width]='180'></p>
                <h4  [title]='details.shortDescription'>{{details.title}}</h4>
              </td>
            </tr>
            <tr>
              <td>Detailed Description</td>
              <td>{{details.longDescription}}</td>
            </tr>
            <tr>
              <td>Total Pages</td>
              <td>{{details.pageCount}}</td>
            </tr>
            <tr>
              <td>Catagories</td>
              <span [ngStyle]="{'color':'red'}" *ngFor="let category of details.categories">{{category}}, </span>
            </tr>
            <tr>
              <td>Authors</td>
              <span [ngStyle]="{'color':'blue'}" *ngFor="let author of details.authors">{{author}}, </span>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>


</ul>


<hr>

<p>Stream(Lazy collection ) of values which are received over a period of time</p>
<p>Observables => Observe our request and response and the subscribe method is used to get those data values</p>
<p>Observables => Monitor request and response,</p>
<p>Used with httpClient (http service)</p>


<hr>



<ul>
  <h3>Async Method to get book Data [ Return the lates value ]</h3>
  <div [ngClass]="'bookScrollView'">
    <li *ngFor="let book of allBooks | async">
      <table>
        <tr>
          <td [ngStyle]="{'width':'10%','padding':'1%'}">
            <img [src]='book.thumbnailUrl' [height]='90' [width]='80'>
          </td>
          <td [ngStyle]="{'max-width':'90%','width':'80%','padding':'2%'}">
            <h4 [title]='book.shortDescription'>{{book.title}}</h4>
            <h6> {{book.shortDescription}} </h6>
            <h5 [ngStyle]="{'color':'blue'}"> {{book.authors}} </h5>
          <td [ngStyle]="{'min-width':'10%'}">
            <button mat-raised-button color="accent" (click)="bookDetailsAsync(book.isbn)">Details</button>
            <button mat-raised-button color="primary">Buy</button>
          </td>
          <hr>
        </tr>
      </table>
    </li>
  </div>
</ul>
<hr>
<div>
<table *ngFor="let details of curBookAsyncDetails">
  <tr>
    <td>
      <p><img [src]='details.thumbnailUrl' [height]='100' [width]='180'></p>
      <h4  [title]='details.shortDescription'>{{details.title}}</h4>
    </td>
  </tr>
  <tr>
    <td>Detailed Description</td>
    <td>{{details.longDescription}}</td>
  </tr>
  <tr>
    <td>Total Pages</td>
    <td>{{details.pageCount}}</td>
  </tr>
  <tr>
    <td>Catagories</td>
    <span [ngStyle]="{'color':'red'}" *ngFor="let category of details.categories">{{category}}, </span>
  </tr>
  <tr>
    <td>Authors</td>
    <span [ngStyle]="{'color':'blue'}" *ngFor="let author of details.authors">{{author}}, </span>
  </tr>
</table>
</div>

<p>img [src] : <img [height]='250' [width]='750' [src]="'../../assets/images/Observable.JPG'"></p>
