<mat-card class="practiceParentContainer">
  <mat-card-header>
    Angular Topics
  </mat-card-header>
  <mat-tab-group>
    <mat-tab label="Lifecycle">
      <div [ngClass]="'scrollView'">
        <app-lifecycle></app-lifecycle>
      </div>
    </mat-tab>
    <mat-tab label="[ngStyle]">
      <table class="myTable" [ngClass]="'scrollView'">
        <tr>
          <th>Sr. No.</th>
          <th>Name</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
        <tr *ngFor="let user of personData" [ngStyle]="{'color':(user.age<18) ?'yellow': getColor(user.country),
          'background-color':(user.age<18) ?'red': 'transparent'}">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.country}}</td>
        </tr>
      </table>
    </mat-tab>

    <!--  ng class example code will be from this point-->

    <mat-tab label="[ngClass]">
      <div [ngClass]="'scrollView'">
        <h4>1. Using ngClass as String</h4>
        <p [ngClass]="'NgClass1'"> Using ngClass as string example - [ngClass]="'NgClass1 NgClass2 NgClass3 NgClass4'"
        </p>
        <div [ngClass]="'NgClass1 NgClass2 NgClass3 NgClass4'" *ngFor="let user of personData">
          {{user.name}}
        </div>
        <h4>2. Using ngClass as an Array</h4>
        <p [ngClass]="['NgClass1','NgClass4']"> Using ngClass as an Array example - [ngClass]="['NgClass1','NgClass4']"
        </p>
        <h4 [ngClass]="{'NgClass2':true}">3. Using ngClass as an Object</h4>
        <mat-slide-toggle [checked]="checked" (change)="toggleCss()">
          Apply Another css
        </mat-slide-toggle>
        <p [ngClass]="getCss">Using ngClass as string example</p>
      </div>
    </mat-tab>
    <!-- Data Binding example code will be from this point-->
    <mat-tab label="Data Binding">
      <div [ngClass]="'scrollView'">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                One way binding
              </mat-panel-title>
              <mat-panel-description>
                One Way [ (Iinterpolation, property, event, attribute, class binding and style binding)] example
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul><b>Component to View</b>

              <li>1. Interpolation Binding </li>
              <div class="sections">
                Component ---> Interpolation ---->Dom
              </div>
              <li>2. Property Binding </li>
              <div class="sections">
                <span>Bind Value(property like height,width,src etc.) of Component to HTML(View) Element => </span>
                <code [ngStyle]="{'color':'red'}" [innerHTML]='title'></code>
                <p>img [src] : <img [height]='100' [ngClass]="'imageHover'" [src]="'../../assets/images/myImage.png'">
                </p>
              </div>



              <li>3. Attribute Binding </li>
              <div class="sections">
                <p>Set th value of attribute (value of component) directly/dynamically.</p>
                <p><code [ngStyle]="{'color':'red'}">Bind data from component and bind in the attribute --> Attribute
                    binding</code></p>
                <table [attr.border]='border' width='50%'>
                  <tr>
                    <td [attr.colspan]="cols">Student Details</td>
                  </tr>
                  <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>CLASS</td>
                  </tr>
                  <tr>
                    <td>0001</td>
                    <td>Nadson</td>
                    <td>Computer</td>
                  </tr>
                </table>
              </div>



              <li>4. Class Binding - [ngClass]</li>
              <li>5. Style Binding - [ngStyle]</li>


            </ul>
            <ul><b>View to Component</b>
              <li>1. Event Binding - [ngStyle] <button mat-raised-button color="accent" (click)="buttonEve()">Click me!
                </button></li>
            </ul>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Two way binding
              </mat-panel-title>
              <mat-panel-description>
                Two Way [ (Event + Property) ] Binding example
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul [ngClass]="getValue"><b>Component to View and View to Component</b>
              <li><input matInput type="text" [value]='data1' (input)='data1=$event.target.value'>{{data1}}</li>
              <li><input matInput type="text" [(ngModel)]='data2'>{{data2}}</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </mat-tab>

    <mat-tab label="Pipes">
      <div [ngClass]="'scrollView'">
        <h4>Pipes- Custom Pipe</h4>
        <label> Name : </label>
        <input matInput type="text" placeholder="Name" [(ngModel)]='name'>
        <label> Salary : </label>
        <input matInput type="number" placeholder="Salary" [(ngModel)]='salary'>
        <table>
          <tr>
            <td *ngIf="name">{{name}}</td>
            <td><button button mat-raised-button color="accent" (click)="formatIt(name)"> Change Format</button></td>
            <td *ngIf='nameChange'>{{name|transformData:'upper'}}</td>
          </tr>
          <tr>
            <td *ngIf="salary">{{salary}} INR</td>
            <td><button button mat-raised-button color="accent" (click)="formatIt(salary)">Convert to Dollar</button>
            </td>
            <td *ngIf='salaryChange'>{{salary |transformData:'dolla' }}</td>
          </tr>
        </table>
        <hr>
        <h4>Pipes-date, percent, decimal, currency</h4>
        <ul>
          <li>1. Date Pipe
            <div class="sections">
              <button mat-raised-button color="accent" (click)="showDates()" *ngIf="!showDate"> Show Formatted Dates
                <span class="dashicons dashicons-format-standard"></span></button>
              <div *ngIf="showDate">
                <p [ngClass]="['NgClass2']"> Original Date ==> {{dateVal}}</p>
                <p>shortDate - {{dateVal |date:'shortDate'}}</p>
                <p>longDate - {{dateVal |date:'longDate'}}</p>
                <p>fullDate - {{dateVal |date:'fullDate'}}</p>
              </div>
            </div>
          </li>
          <li *ngIf="salary"> 2. Percent Pipe
            <div class="sections">
              Salary from above Input : {{salary|percent:'2.4-8'}}
            </div>
          </li>
          <li *ngIf="salary">3. Decimal Pipe
            <div class="sections">
              {{salary|number}}
            </div>
          </li>
          <li *ngIf="salary">4. Currency Pipe=>
            <div class="sections">
              <p [ngClass]="['NgClass2']"> Default {{salary}} (Default is dollar for currency [pipe])</p>
              <p> Dollar (Default) => {{salary|currency}}</p>
              <p> INR => {{salary|currency:'INR'}}</p>
              <p>INR: cose =>{{salary|currency:'INR':'code'}}</p>
            </div>
          </li>
        </ul>
      </div>
    </mat-tab>


    <mat-tab label="Forms">
      <div [ngClass]="'scrollView'">
        <button type="button" mat-button color="accent" (click)="drawer.toggle()">
          Toggle sidenav
        </button>
        <mat-drawer-container class="formsContainer" autosize>
          <mat-drawer #drawer class="formSideNav" mode="side" opened="true">
            <a mat-button color="accent" class="top" [routerLink]="['/practice/tempForm']">Template Driven</a>
            <a mat-button color="accent" class="top" [routerLink]="['/practice/modelForm']">Model Driven</a>
          </mat-drawer>

          <div class="formSideNav-content">
            <router-outlet></router-outlet>
          </div>

        </mat-drawer-container>
      </div>
    </mat-tab>

    <mat-tab label="Observable">
      <div [ngClass]="'scrollView'">
        <app-observables></app-observables>
    </div>

    </mat-tab>

    <mat-tab label="Loading Modules">
      <div [ngClass]="'scrollView'">
      <ul >
        <li>
          1. Eager Loading
          <p>By default enabled</p>
        </li>
        <li>
          2. Lazy Loading
          <p>Modules Loaded o Demand</p>
          <p>Components must not be imported into application module otherwise it will be eagerly loaded</p>
        </li>
        <li>
          1. Pre Loading
          <p>Modules Loaded in background at the start of application</p>
        </li>
      </ul>
      </div>
    </mat-tab>
    <mat-tab label="Component Interaction">
      <div [ngClass]="'scrollView'">
        <ul>
          <li>@ViewChild()</li>
          <li>@ViewChildren()</li>
          <li>@ContentChild()</li>
          <li>@ContentChildren()</li><br>
          <li>@ViewChild()</li> 
          <div class="sections">
            <span>If Parent component want to use child component then uses @viewChild(). It makes childs instance into
              parent</span>
            <h5>View Child Using Dircetive </h5>
            <p>View Child <img [height]='250' [width]='750' [src]="'../../assets/images/ViewChild.JPG'"></p>
            <div>
              <app-counter-parent></app-counter-parent>
            </div>
            <h5>View Child Using Dircetive </h5>
            <p>View Child Using Dircetive <img [height]='250' [width]='750'
                [src]="'../../assets/images/ViewChild_Directive.JPG'"></p>
            <div class="sectionsDashed">
              <app-parent-color></app-parent-color>
            </div>
            <h5>View Child Using Template Variable </h5>
            <p>View Child Using Template Variable <img [height]='250' [width]='750'
              [src]="'../../assets/images/ViewChild_Template.JPG'"></p>
            <div class="sectionsDashed">
              <app-theme></app-theme>
            </div>
          </div>
         
        </ul>
        <div class="sections">
          <h3>@HostListner</h3>
          <p>HostListner<img [height]='250' [width]='750'
            [src]="'../../assets/images/HostListner.JPG'"></p>
            <div class="sectionsDashed">
              <marquee><app-host-listner> </app-host-listner></marquee>Click the title
          </div>
        </div>
      </div>
    </mat-tab>


  </mat-tab-group>
</mat-card>
