<mat-toolbar color="primary" [ngClass]="getModeCss">
  <div class="navbar" title="Toggle for Side Menu">
    <button mat-icon-button color="accent" (click)="sidenav.toggle()"><mat-icon>reorder</mat-icon></button>
    
    <span class="logo">Dynamic Form</span>
  </div>
  <div class="mode">
    <mat-slide-toggle [checked]="checked" (change)="toggleMode()">
       Theme {{modeName}} 
    </mat-slide-toggle>
  </div>
</mat-toolbar>
<mat-sidenav-container color="primary" >
  <mat-sidenav opened='true'  mode="side" #sidenav class="sidenav-fab-container" fullscreen  [ngClass]="getModeCss">
    <a mat-button color="accent" class="top" [routerLink]="['/home']">Forms</a>
    <a mat-button color="accent" class="top" [routerLink]="['/employee']">Employee</a>
    <a mat-button color="accent" class="top" [routerLink]="['/company']">Company</a>
    <a mat-button color="accent" class="top" [routerLink]="['/practice']">Practice</a>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="getModeCss" > 
    <div class="center-div">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>