.mode{
    float:right;
}

mat-toolbar {
  justify-content: space-between;
  background: rgb(22, 103, 179);
}
.mode{
    font-size:12px;
}
.top {
  min-width: 100%;
}

span {
  padding-right: 1rem;
}

.logo {
  color: #ff4081;
  float: right;
  cursor: pointer;
  font-size: 30px;
  padding: 2px 0 0 5px;
  font-weight: 500;
}

mat-sidenav-container {
  min-height: 90%;
}

mat-sidenav-content {
  padding: 1% 2% 0 2%;
  min-height: 88vh;
}

mat-sidenav {
  -webkit-box-shadow: inset -9px -1px 62px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -9px -1px 62px -38px rgba(0, 0, 0, 0.75);
  box-shadow: inset -9px -1px 62px -38px rgba(0, 0, 0, 0.75);
  opacity: 0.9;
  width: 15%;
  background: #fff(106, 126, 145);
}

mat-sidenav .top {
  margin-top: 15px;
}

.mat-icon {
  cursor: pointer;
}

.mat-icon:hover {
  transform: scale(1.2);
  transition: ease-out;
  cursor: pointer;
}

mat-card {
  min-height: 82vh;
}

@media only screen and (max-width: 600px) {
  .logo {
    color: #ff4081;
    font-size: 25px;
    float: right;
    margin-right: 0;
    padding-left: 80px;
    text-align: center;
    cursor: pointer;
  }

  span {
    display: none;
  }

  mat-card {
    min-height: 75vh;
  }

  mat-sidenav .top {
    margin-top: 5px;
  }

  mat-sidenav {
    opacity: 0.9;
    width: 120px;
    padding: 5px 16px 0 2px;
  }

  mat-sidenav-content {
    padding: 1% 2% 0 2%;
  }
}


.darkMode{
    background-color: black;
    color:white;
}