<mat-card class="parent-card">
  <mat-card-header>
    Dynamic form using JSON
  </mat-card-header>
  <form [formGroup]="dynamicForm" (submit)="submitForm()">
    <mat-card-content>
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <ng-container *ngFor="let tab of formData">
          <mat-tab label="{{tab.stepName}}">

            <ng-container *ngFor="let input of tab.Controls">
              <div [ngSwitch]="input.Type">

                <ng-template [ngSwitchCase]="'text'">
                  <mat-form-field class="halfWidth">
                    <mat-label> {{input.Field}}</mat-label>
                    <input matInput [formControlName]="input.Field" [required]="input.Required"
                      [minlength]="input.Length" />
                    <div class="error"
                      *ngIf="dynamicForm.get(input.Field).invalid && (dynamicForm.get(input.Field).dirty || dynamicForm.get(input.Field).touched)">
                      <div *ngIf="dynamicForm.get(input.Field).errors.required">
                        {{input.Field}} required
                      </div>
                      <div *ngIf="dynamicForm.get(input.Field).errors.minlength">
                        Minimum length is {{input.Length}}
                      </div>
                    </div>
                  </mat-form-field>
                </ng-template>
                <ng-template [ngSwitchCase]="'email'">
                  <mat-form-field class="halfWidth">
                    <mat-label> {{input.Field}}</mat-label>
                    <input matInput [formControlName]="input.Field" [required]="input.Required"
                      [minlength]="input.Length" />
                    <div class="error"
                      *ngIf="dynamicForm.get(input.Field).invalid && (dynamicForm.get(input.Field).dirty || dynamicForm.get(input.Field).touched)">
                      <div *ngIf="dynamicForm.get(input.Field).errors.required">
                        {{input.Field}} required
                      </div>
                      <div *ngIf="dynamicForm.get(input.Field).errors.minlength">
                        Minimum length is {{input.Length}}
                      </div>
                    </div>
                  </mat-form-field>
                </ng-template>
                <ng-template [ngSwitchCase]="'textarea'">
                  <mat-form-field class="halfWidth">
                    <mat-label> {{input.Field}}</mat-label>
                    <textarea matInput [formControlName]="input.Field" [required]="input.Required"
                      [minlength]="input.Length"></textarea>
                    <div class="error"
                      *ngIf="dynamicForm.get(input.Field).invalid && (dynamicForm.get(input.Field).dirty || dynamicForm.get(input.Field).touched)">
                      <div *ngIf="dynamicForm.get(input.Field).errors.required">
                        {{input.Field}} required
                      </div>
                      <div *ngIf="dynamicForm.get(input.Field).errors.minlength">
                        Minimum length is {{input.Length}}
                      </div>
                    </div>
                  </mat-form-field>
                </ng-template>


                <ng-template [ngSwitchCase]="'checkbox'">
                  <div class="padIt">
                    <mat-label> {{input.Field}}</mat-label><br><br>
                    <ng-container *ngFor="let choices of input.Options">
                      <div class="arrange">
                        <mat-checkbox [formControlName]="input.Field" [required]="input.Required"></mat-checkbox>
                        <mat-label class="checkCss"> {{choices}} </mat-label><br>
                      </div>
                    </ng-container>
                  </div>
                </ng-template>


              </div>
            </ng-container>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" *ngIf="selected.value" [disabled]="!dynamicForm.valid"
        type="submit">Submit</button>
        
      <button mat-raised-button color="accent" *ngIf="!selected.value" (click)="toggleTab()">Next</button>
    </mat-card-actions>
  </form>
  <pre *ngIf="submitted">{{dynamicForm.value|json}}</pre>
</mat-card>

