.parent-card {
  min-width: 97%;
  min-height: 91.2%;
  height:90%;
  margin:10px 1.5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.halfWidth{
  width:100%;
  
}
mat-card-content{
  padding:15px;
}
.checkCss,.padIt,form{
  padding:15px;
}
.arrange{
  margin-left:8rem;
}